.search-results {
  display: none;
}

.search-results-active {
  composes: search-results;

  display: block;
}

.search-result {
  cursor: pointer;
}

.search-result:hover {
  background: #f8f8f8;
}

.search-input {
  text-transform: uppercase;
}
